.main {
    width: 720px;
    margin: 0 auto;
}

.form {
    display: flex;
}

.input {
    width: 80%;
    padding: 8px 12px;
    background: #fff;
    border: solid 1px rgb(162, 125, 125);
    border-radius: 6px 0 0 6px;
}

.submit {
    width: 20%;
    background: rgb(8, 132, 221);
    color: #fff;
    border-radius: 0 6px 6px 0;
}

.content {
    padding: 10px;
    margin-top: 20px;
    background: #fff;
    width: 100%;
    height: 550px;
    border-radius: 8px;
    box-shadow: -1px 0 13px 0px rgba(150, 71, 71, 0.25);
    overflow-y: auto;
}

.message {
    padding: 4px 10px;
    width: 350px;
    word-wrap: break-word;
    color: #ffffff;
    border-radius: 4px;
}

.user {
    margin-left: auto;
    background: rgb(155, 155, 221);
}

.assistant {
    margin-right: auto;
    background: rgb(163, 198, 163);
}
