body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background: rgb(245, 247, 250);
}

input,
button {
    font-family: inherit;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}
